certifi==2017.4.17
chardet==3.0.4
dj-static==0.0.6
Django==1.9.4
django-braces==1.12.0
django-datetime-widget==0.9.3
django-extensions==1.6.1
django-filter==1.0.4
django-js-reverse==0.7.3
django-markdown-deux==1.0.5
django-model-utils==3.0.0
django-pagedown==0.1.1
django-storages==1.6.3
djangorestframework==3.3.3
djangorestframework-jwt==1.11.0
gunicorn==19.7.1
heroku==0.1.4
idna==2.6
Markdown==2.6.6
markdown2==2.3.4
olefile==0.44
Pillow==9.0.0
psycopg2==2.7.3.1
PyJWT==1.5.2
python-dateutil==1.5
pytz==2017.2
requests==2.18.4
selenium==2.53.2
six==1.10.0
static3==0.7.0
urllib3==1.22
virtualenv==15.1.0
whitenoise==3.3.0